.form-control {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    margin-top: 1rem;
  }
  
  table {
    table-layout: fixed;
    width: 100%;
  }
  
  td,
  th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    vertical-align: top;
  }
  
  th {
    text-align: left;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .modal-title {
    font-weight: bold;
  }
  
  .modal-footer {
    border-top: none;
  }
  
  .btn-secondary {
    margin-right: 1rem;
  }